/* import 'react-image-gallery/styles/css/image-gallery.css'; */
body {
  font-family: "Marmelad", sans-serif;
  /* background-color: #f3eded!important;  */
  margin: 0; /* Убедитесь, что нет отступов */
  padding: 0; /* Убедитесь, что нет отступов */
  height: 100%; /* Убедитесь, что занимает всю высоту */
}
/* 
font-family: "Marmelad", sans-serif;
font-family: "Neucha", cursive; */

header {
  background-color: rgb(255, 253, 253);
  height: 120px; /* Высота */
  width: 100%; /* Ширина */
}
header img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle; /* Выравнивание по вертикали */
  margin-right: 15px;
}

.container {
  max-width: 1250px !important;
  margin: 0 auto; /* Центрирование по горизонтали */
}

.navbar {
  width: 100%;
  margin: 0 auto;
  padding: 0 !important; /* или любой другой нужный вам отступ */
}

.header__content {
  display: flex;
  align-items: center; /* Выравнивание по вертикали */
  padding: 0 50px;
}
.header__text {
  color: #33637e;
  font-size: 25px;
  max-width: 258px;
  font-family: "Marmelad", sans-serif;
}

h1 {
  /* font-family: "Marmelad", sans-serif; */
  font-size: 76px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
p {
  font-family: "Neucha", cursive;
}

.cities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Расстояние между элементами */
}
.city {
  background-color: #f9f9f9;
  width: 357px;
  height: 357px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.3s ease;
}
.city:hover {
  box-shadow: 0 8px 26px rgba(0, 0, 0, 0.6); /* Увеличиваем радиус тени при наведении */
}
.city__background {
  width: 100%; /* Ширина будет занимать всю доступную ширину */
  height: 100%; /* Высота будет занимать всю доступную высоту */
  object-fit: cover;
  object-position: center;
}
.city__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 40%); /* Черный фон с 50% прозрачностью */
  display: flex;
  justify-content: center;
  align-items: center;
}

.city__name {
  color: white;
  text-align: center;
  font-size: 50px;
  padding: 10px;
}

.attraction-cards,
.food-cards {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}
.carousel-custom {
  max-width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.carousel-item-custom {
  display: flex;
  justify-content: center;
}

.carousel-image {
  max-height: 700px; /* Установите желаемую высоту */
  object-fit: cover; /* Сохраняет соотношение сторон и обрезает изображение */
}

.cities__title {
  font-size: 45px; /* Исправлено: правильное написание свойства font-size */
  text-align: center; /* Исправлено: правильное написание свойства text-align */
  font-family: "Marmelad", sans-serif;
  margin: 50px 0 25px 0;
}
.footer-bottom {
  margin-top: 150px;
}

/* Контейнеры карточек */
.attraction-cards,
.food-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -10px; /* Отрицательный отступ для компенсации отступов элементов */
}

/* Стили для каждой карточки в контейнере */
.attraction-cards > *, 
.food-cards, .cities > * {
  flex: 1 0 calc(25% - 20px); /* Четыре карточки на строку, с учетом отступов */
  margin: 10px; /* Отступ вокруг каждой карточки */
  box-sizing: border-box; /* Учет отступов в расчетах ширины */
}

/* Стили для каждой карточки */
.attraction-card {
  width: 100%;
  max-width: 245px;
  box-sizing: border-box;
}

/* Стили для контейнера действия карточки */
.card-action-area {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирование по горизонтали */
  justify-content: flex-start; /* Выравнивание по верхнему краю */
  height: 100%;
}

/* Стили для контента карточки */
.card-content {
  width: 100%;
  flex-grow: 1; /* Чтобы контент занимал всю доступную высоту */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Прикрепить содержимое к верху */
  align-items: center; /* Центрирование по горизонтали */
}

/* Стили для медиа внутри карточки */
.card-media {
  width: 100%;
  height: 140px;
  object-fit: cover;
  margin: 0; /* Убедимся, что нет дополнительных отступов */
  padding: 0; /* Убедимся, что нет дополнительных отступов */
}


